<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<style>
    .glow {
      text-align: center;
      animation: glow 1s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      }
      
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
    }
</style>
<img style="float: right; display: block; margin-left: auto; margin-right: 0; margin-bottom: -20px; margin-top: -20px;" src="https://raw.githubusercontent.com/Starscream-11813/Starscream-11813.github.io/refs/heads/master/images/Rifat_logo_white_stroked.svg" width="120px">
Do you believe in magic? <a href="https://www.webtoons.com/en/drama/the-sound-of-magic-annarasumanara/list?title_no=77"><b class="glow">🦋</b></a>
<!-- end custom footer snippets -->
