{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <!-- <div class="row">
      <div class="col-md-3">
				<img src="images\android-chrome-192x192.png" style="" alt="">
			</div> -->
      <!-- <div class="col-md-9"> -->
    <!-- <img src="https://github.com/Starscream-11813/Starscream-11813.github.io/blob/master/images/android-chrome-192x192.png" style="" alt=""> -->
    <style>
      .row {
          display: flex;
          flex-wrap: wrap;
          border: 1px solid #ccc;
          padding: 7px;
          border-radius: 5px;
          background-color: #f9f9f9;
      }
      .column {
          flex: 1;
          padding: 10px;
      }
      .teaser-image {
          flex-basis: 200px;
          max-width: 200px;
      }

      .teaser-image img {
          max-width: 100%;
          height: auto;
          border-radius: 5px;
      }

      .teaser-image2 {
          flex-basis: 120px;
          max-width: 120px;
      }

      .teaser-image2 img {
          max-width: 100%;
          height: auto;
          border-radius: 5px;
      }

      .teaser-image3 {
          flex-basis: 100px;
          max-width: 100px;
      }

      .teaser-image3 img {
          max-width: 100%;
          height: auto;
          border-radius: 5px;
      }

      .publication-details {
          flex: 3;
      }

      .publication-details h3 {
          margin-top: 0;
          margin-bottom: 5px;
          font-size: 1.1em;
      }

      .publication-details p {
          margin: 5px 0;
          color: #333;
          font-size: 0.875em;
      }
    </style>
    <!-- <div class="row">
      <div class="column teaser-image">
          <img src="teaser-image.jpg" alt="Teaser Image">
      </div>
      <div class="column publication-details">
          <h3>Publication Title</h3>
          <p>Author(s): Name1, Name2, Name3</p>
          <p><i>Journal Name, Year, DOI</i></p>
          <p>Short description or abstract of the paper goes here...</p>
          <a href="publication-link">Read More</a>
      </div>
  </div> -->
    <!-- <style>
      .row {
        display: flex;
      }

      .column {
        float: left;
        flex: 33.33%;
        padding: 5px;
      }
    </style> -->
    <!-- <div class="row">
      <div class="column">
        <img src="https://raw.githubusercontent.com/Starscream-11813/Starscream-11813.github.io/master/images/android-chrome-192x192.png" alt="Snow" style="width:100%">
      </div>
      <div class="column">
        <img src="https://raw.githubusercontent.com/Starscream-11813/Starscream-11813.github.io/master/images/android-chrome-192x192.png" alt="Forest" style="width:100%">
      </div>
      <div class="column">
        <img src="https://raw.githubusercontent.com/Starscream-11813/Starscream-11813.github.io/master/images/android-chrome-192x192.png" alt="Mountains" style="width:100%">
      </div>
    </div> -->
    <div class="row">
      {% if post.collection == 'publications' %}
      <div class="column teaser-image">
        <img src="https://raw.githubusercontent.com/Starscream-11813/Starscream-11813.github.io/master/images/{{ post.teaser }}" alt="Teaser Image">
      </div>
      {% elsif post.collection == 'posts' %}
      <div class="column teaser-image2">
        <img src="https://raw.githubusercontent.com/Starscream-11813/Starscream-11813.github.io/master/images/{{ post.teaser }}" alt="Teaser Image">
      </div>
      {% elsif post.collection == 'teaching' %}
      <div class="column teaser-image3">
        <img src="https://raw.githubusercontent.com/Starscream-11813/Starscream-11813.github.io/master/images/{{ post.teaser }}" alt="Teaser Image">
      </div>
      {% endif %}
    <div class="column publication-details">
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.author %}
      <p class="page__meta">by <strong>{{ post.author }}</strong></p>
    {% endif %}
    <!-- {% if post.read_time %}
      <p class="page__meta"><i class="fa-solid fa-clock"></i> {% include read-time.html %}</p>
    {% endif %} -->
    {% if post.collection == 'posts' and post.excerpts %}
      <p>Excerpt: <em>"{{ post.excerpts }}"</em></p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' and post.type == 'preprints' %}
          <p>Under review in <b><i>{{ post.venue }}</i></b>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
          {% elsif post.collection == 'publications' %}
          <p>Published in <b><i>{{ post.venue }}</i></b>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date and post.collection == 'books' %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

        {% if post.authors and post.paperurl %}
          <p><u>Authors:</u><aa id="myName"> {{ post.authors }}</aa></p>
          <script>
            var text = document.getElementById('myName');
            var substring = 'Syed Rifat Raiyan';
          
            var innerHTML = text.innerHTML;
            var startIndex = innerHTML.indexOf(substring);
            var endIndex = startIndex + substring.length;
          
            var modifiedHTML = innerHTML.slice(0, startIndex) +
              '<span style="font-weight:bold;">' +
              innerHTML.slice(startIndex, endIndex) +
              '</span>' +
              innerHTML.slice(endIndex);
          
            text.innerHTML = modifiedHTML;
          </script>
        {% endif %}
      <style>
	@import url('https://fonts.cdnfonts.com/css/cmu-serif');
        .button {
          width: 87px;
          border: none;
          color: #eaeaea;
          font-family: 'Product Sans', sans-serif;/*'CMU Serif', serif;*/
          font-size: 13.5px;
          font-weight: bold;
          padding: 0.2em;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          cursor: pointer;
          border-radius: 7px;
        }
        
        .button:hover {
          background-color: #f1f1f1;
          color: #FFF;
        }
      </style>
      <style>
        input[type='checkbox'] {
          display: none;
        }
      
        .wrap-collabsible {
          margin: 1.2rem 0;
          position: relative;
        }
      
        .lbl-toggle {
          width: 91px;
          display: block;
          font-weight: bold;
          font-family: 'CMU Serif', serif;
          text-transform: uppercase;
          text-align: center;
          padding: 0.2em;
          color: #eaeaea;
          background: #6962D2;
          cursor: pointer;
          border-radius: 7px;
          transition: all 0.25s ease-out;
        }
      
        .lbl-toggle:hover {
          color: #FFF;
        }
      
        .lbl-toggle::before {
          content: ' ';
          display: inline-block;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid currentColor;
          vertical-align: middle;
          margin-right: .7rem;
          transform: translateY(-2px);
          transition: transform .2s ease-out;
        }
      
        .toggle:checked+.lbl-toggle::before {
          transform: rotate(90deg) translateX(-3px);
        }
      
        .collapsible-content {
          color: #6962D2;
          font-weight: bold;
          font-size: 14px;
          max-height: 0px;
          overflow: hidden;
          transition: max-height .25s ease-in-out;
        }
      
        .toggle:checked+.lbl-toggle+.collapsible-content {
          max-height: 350px;
        }
      
        .toggle:checked+.lbl-toggle {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
      
        .collapsible-content .content-inner {
          background: rgba(0, 105, 255, .2);
          border-bottom: 1px solid rgba(0, 105, 255, .45);
          border-bottom-left-radius: 7px;
          border-bottom-right-radius: 7px;
          padding: .5rem 1rem;
        }
      
        .collapsible-content p {
          margin-bottom: 0;
        }
        .tex sub, .latex sub, .latex sup {
        text-transform: uppercase;
      }

      .tex sub, .latex sub {
        vertical-align: -0.5ex;
        margin-left: -0.1667em;
        margin-right: -0.125em;
      }

      .tex, .latex, .tex sub, .latex sub {
        font-size: 1em;
      }

      .latex sup {
        font-size: 0.85em;
        vertical-align: 0.15em;
        margin-left: -0.36em;
        margin-right: -0.15em;
      }
          .multiline {
        white-space: pre-wrap;
      }

      .copy-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      background: #4CAF50;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 12px;
    }

    .copy-btn:hover {
      background-color: #45a049;
    }
    </style>
    <script>
      function copyToClipboard(permalink) {
        const content = document.getElementById('collapsibleContent' + permalink).innerText;
        const tempInput = document.createElement('textarea');
        tempInput.value = content;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
        alert('Content copied to clipboard!');
      }
    </script>
    {% if post.citation and post.paperurl %}
      <p><u>Citation (IEEE format):</u> {{ post.citation }}</p>
      <a href="{{ post.paperurl }}" style="background-color: #b31b1b; width: 57px; text-decoration: none;" class="button"><i class="ai ai-arxiv"></i> arXiv</a>
      <a href="{{ post.pdfurl }}" style="background-color: #428bca; width:50px; text-decoration: none;" class="button"><i class="fa fa-file-pdf"></i> PDF</a>
      <a href="{{ post.codedata }}" style="background-color: #5cb85c; width:97px; text-decoration: none;" class="button"><i class="fab fa-github" aria-hidden="true"></i> Code/Data</a>
      {% if post.slides %}
      <a href="{{ post.slides }}" style="background-color: #ea641a; width: 60px; text-decoration: none;" class="button"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> Slides</a>
      {% endif %}
      {% if post.poster %}
      <a href="{{ post.poster }}" style="background-color: #5bc0de; width: 67px; text-decoration: none;" class="button"><i class="fa fa-picture-o" aria-hidden="true"></i> Poster</a>
      {% endif %}
      {% if post.video %}
        <a href="{{ post.video }}" style="background-color: #999; width: 61px; text-decoration: none;" class="button"><i class="fa fa-video-camera" aria-hidden="true"></i> Video</a>
      {% endif %}
      {% if post.doi %}
        <a href="{{ post.doi }}" style="background-color: #FCB520; width: 25.65px; text-decoration: none; color: black;" class="button"><i style="text-align: center; vertical-align: middle; font-size: 1.25em;" class="ai ai-doi" aria-hidden="true"></i></a>
      {% endif %}
      <!-- <a href="{{ base_path }}{{ post.url }}" rel="permalink" style="background-color: #6962D2; width:87px; text-decoration: none;" class="button"><span style="font-variant: small-caps; font-size: 13.5px;" class="latex">B<span style="font-size: 14.5px;">ib</span>T<sub>e</sub>X</span></a> -->
      <div class="wrap-collabsible"> <input id="collapsible{{ post.permalink }}" class="toggle" type="checkbox"> <label for="collapsible{{ post.permalink }}"
        class="lbl-toggle"><span style="font-variant: small-caps; font-size: 13.5px;" class="latex">B<span style="font-size: 12px;">ib</span>T<sub>e</sub>X</span></label>
      <div class="collapsible-content">
        <div class="content-inner">
          <button class="copy-btn" onclick="copyToClipboard('{{ post.permalink }}')">Copy</button>
          <p style="font-family: 'Courier New', Courier, monospace;">
              {{ post.bibtex }}
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="wrap-collabsible">
      <input id="collapsible{{ post.permalink }}" class="toggle" type="checkbox">
      <label for="collapsible{{ post.permalink }}" class="lbl-toggle">
        <span style="font-variant: small-caps; font-size: 13.5px;" class="latex">B<span style="font-size: 12px;">ib</span>T<sub>e</sub>X</span>
      </label>
      <button class="copy-btn" onclick="copyToClipboard('{{ post.permalink }}')">Copy</button>
      <div class="collapsible-content">
        <div class="content-inner" id="collapsibleContent{{ post.permalink }}">
          <p style="font-family: 'Courier New', Courier, monospace;">
            {{ post.bibtex }}
          </p>
        </div>
      </div>
    </div> -->
    {% elsif post.citation %}
      <p><u>Citation (IEEE format):</u> {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %}
  </div>
  </div>
  <!-- </div>
  </div> -->
  </article>
</div>
