{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <b><i>{{ post.venue }}</i></b>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

        {% if post.authors and post.paperurl %}
          <p><u>Authors:</u><aa id="myName"> {{ post.authors }}</aa></p>
          <!-- <b id="myText">This is a sample text.</b> -->
          <script>
            var text = document.getElementById('myName');
            var substring = 'Syed Rifat Raiyan';
          
            var innerHTML = text.innerHTML;
            var startIndex = innerHTML.indexOf(substring);
            var endIndex = startIndex + substring.length;
          
            var modifiedHTML = innerHTML.slice(0, startIndex) +
              '<span style="font-weight:bold;">' +
              innerHTML.slice(startIndex, endIndex) +
              '</span>' +
              innerHTML.slice(endIndex);
          
            text.innerHTML = modifiedHTML;
          </script>
        {% endif %}
    <!-- {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %} -->
    
    {% if post.citation and post.paperurl %}
      <p><u>Citation (IEEE format):</u> {{ post.citation }}</p><a href="{{ post.paperurl }}">[arXiv]</a>
    {% elsif post.citation %}
      <p><u>Citation (IEEE format):</u> {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %}

    <style>
      input[type='checkbox'] {
        display: none;
      }
    
      .wrap-collabsible {
        margin: 1.2rem 0;
      }
    
      .lbl-toggle {
        width: 85px;
        display: block;
        font-weight: bold;
        font-family: 'CMU Serif', serif;
        text-transform: uppercase;
        text-align: center;
        padding: 0.5em 0.5em 0.5em 0.5em;
        color: #DDD;
        background: #6962D2;
        cursor: pointer;
        border-radius: 7px;
        transition: all 0.25s ease-out;
      }
    
      .lbl-toggle:hover {
        color: #FFF;
      }
    
      .lbl-toggle::before {
        content: ' ';
        display: inline-block;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid currentColor;
        vertical-align: middle;
        margin-right: .7rem;
        transform: translateY(-2px);
        transition: transform .2s ease-out;
      }
    
      .toggle:checked+.lbl-toggle::before {
        transform: rotate(90deg) translateX(-3px);
      }
    
      .collapsible-content {
        max-height: 0px;
        overflow: hidden;
        transition: max-height .25s ease-in-out;
      }
    
      .toggle:checked+.lbl-toggle+.collapsible-content {
        max-height: 350px;
      }
    
      .toggle:checked+.lbl-toggle {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    
      .collapsible-content .content-inner {
        background: rgba(0, 105, 255, .2);
        border-bottom: 1px solid rgba(0, 105, 255, .45);
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        padding: .5rem 1rem;
      }
    
      .collapsible-content p {
        margin-bottom: 0;
      }
      .tex sub, .latex sub, .latex sup {
      text-transform: uppercase;
    }

    .tex sub, .latex sub {
      vertical-align: -0.5ex;
      margin-left: -0.1667em;
      margin-right: -0.125em;
    }

    .tex, .latex, .tex sub, .latex sub {
      font-size: 1em;
    }

    .latex sup {
      font-size: 0.85em;
      vertical-align: 0.15em;
      margin-left: -0.36em;
      margin-right: -0.15em;
    }
        .multiline {
      white-space: pre-wrap;
    }
    </style>
    <div class="wrap-collabsible"> <input id="collapsible" class="toggle" type="checkbox"> <label for="collapsible"
        class="lbl-toggle"><span style="font-variant: small-caps; font-size: 12px;" class="latex">B<span style="font-size: 9px;">ib</span>T<sub>e</sub>X</span></label>
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="white-space:pre"> 
            @misc{kabir2023banglabook,
            title={BanglaBook: A Large-scale Bangla Dataset for Sentiment Analysis from Book Reviews}, 
            author={Mohsinul Kabir and Obayed Bin Mahfuz and Syed Rifat Raiyan and Hasan Mahmud and Md Kamrul Hasan},
            year={2023},
            eprint={2305.06595},
            archivePrefix={arXiv},
            primaryClass={cs.CL}}
          </div>
        </div>
      </div>
    </div>

  </article>
</div>
