{% include base_path %}
<div class="masthead2"></div>
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <style>
            .glow2 {
              text-align: center;
              animation: glow2 2s ease-in-out infinite alternate;
            }
            
            @-webkit-keyframes glow2 {
              from {
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6962D2, 0 0 30px #6962D2, 0 0 30px #6962D2, 0 0 30px #6962D2;
              }
              
              to {
                text-shadow: 0 0 20px #fff, 0 0 30px mix(#8482E6, #fff, 50%), 0 0 40px mix(#8482E6, #fff, 50%), 0 0 40px mix(#8482E6, #fff, 50%), 0 0 40px mix(#8482E6, #fff, 50%), 0 0 40px mix(#8482E6, #fff, 50%);
              }
            }
          </style>
          <li class="masthead__menu-item masthead__menu-item--lg"><a class="glow2" href="{{ base_path }}/"><b style="font-family: 'Adobe Caslon Pro', serif; font-size: 25.008px; line-height:20px;">{{ site.title }}</b><br><b style="font-family: Kalpurush, serif; font-size: 16px;">সৈয়দ রিফাত রাইয়ান</b></a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>