{% include base_path %}
<div class="masthead2"></div>
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <style>
            .px-app,
            .px-app *,
            .px-app *::before,
            .px-app *::after {
              margin: 0;
              padding: 0;
              box-sizing: border-box;
              outline: 0;
            }
            .px-glitch {
              text-align: center;
            }

            .px-glitchtext {
              /* font-size: 5rem; */
              /* font-weight: 600; */
              text-shadow: 3px 0 0 rgb(233,186,241), -3px 0 0 rgb(173,223,222);
              display: block;
            }
            .px-glitchtext-anim {
              animation: glitchtext 777ms linear infinite;
            }
            @keyframes glitchtext {
              0% {
                text-shadow: 3px 0 0 rgb(233,186,241), -3px 0 0 rgb(173,223,222);
              }
              20% {
                text-shadow: 0 0 0 rgb(233,186,241), -3px -1px 0 rgb(173,223,222);
              }
              40% {
                text-shadow: -3px -2px 0 rgb(233,186,241),
                  2px 1px 0 rgb(173,223,222);
              }
              60% {
                text-shadow: -1px 2px 0 rgb(233,186,241), 0 0 0 rgb(173,223,222);
              }
              80% {
                text-shadow: 2px -1px 0 rgb(233,186,241), 3px 2px 0 rgb(173,223,222);
              }
              100% {
                text-shadow: 3px 0 0 rgb(233,186,241), -3px 0 0 rgb(173,223,222);
              }
            }
            .glow2 {
              text-align: center;
              animation: glow2 2s ease-in-out infinite alternate;
              /* background-image: -webkit-linear-gradient( 180deg, rgb(233,186,241) 0%, rgb(193,221,245) 51%, rgb(173,223,222) 82%, rgb(201,235,218) 100%);
              background-image: -ms-webkit-linear-gradient( 180deg, rgb(233,186,241) 0%, rgb(193,221,245) 51%, rgb(173,223,222) 82%, rgb(201,235,218) 100%);
              filter: brightness(120%);
              filter: blur(20px); */
              /* text-shadow: 10px -webkit-linear-gradient( 180deg, rgb(233,186,241) 0%, rgb(193,221,245) 51%, rgb(173,223,222) 82%, rgb(201,235,218) 100%); */
              /* text-shadow: 10px -ms-linear-gradient( 180deg, rgb(233,186,241) 0%, rgb(193,221,245) 51%, rgb(173,223,222) 82%, rgb(201,235,218) 100%); */
            }
            
            @-webkit-keyframes glow2 {
              from {
                /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px -webkit-linear-gradient( 180deg, rgb(233,186,241) 0%, rgb(193,221,245) 51%, rgb(173,223,222) 82%, rgb(201,235,218) 100%), 0 0 30px -webkit-linear-gradient( 180deg, rgb(233,186,241) 0%, rgb(193,221,245) 51%, rgb(173,223,222) 82%, rgb(201,235,218) 100%), 0 0 30px -webkit-linear-gradient( 180deg, rgb(233,186,241) 0%, rgb(193,221,245) 51%, rgb(173,223,222) 82%, rgb(201,235,218) 100%), 0 0 30px -webkit-linear-gradient( 180deg, rgb(233,186,241) 0%, rgb(193,221,245) 51%, rgb(173,223,222) 82%, rgb(201,235,218) 100%); */
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6962D2, 0 0 30px #6962D2, 0 0 30px #6962D2, 0 0 30px #6962D2;
              }
              
              to {
                /* text-shadow: 0 0 20px #fff, 0 0 30px -webkit-linear-gradient( 180deg, rgb(233,186,241) 0%, rgb(193,221,245) 51%, rgb(173,223,222) 82%, rgb(201,235,218) 100%), 0 0 40px -webkit-linear-gradient( 180deg, rgb(233,186,241) 0%, rgb(193,221,245) 51%, rgb(173,223,222) 82%, rgb(201,235,218) 100%), 0 0 40px -webkit-linear-gradient( 180deg, rgb(233,186,241) 0%, rgb(193,221,245) 51%, rgb(173,223,222) 82%, rgb(201,235,218) 100%), 0 0 40px -webkit-linear-gradient( 180deg, rgb(233,186,241) 0%, rgb(193,221,245) 51%, rgb(173,223,222) 82%, rgb(201,235,218) 100%), 0 0 40px -webkit-linear-gradient( 180deg, rgb(233,186,241) 0%, rgb(193,221,245) 51%, rgb(173,223,222) 82%, rgb(201,235,218) 100%); */
                text-shadow: 0 0 20px #fff, 0 0 30px mix(#8482E6, #fff, 50%), 0 0 40px mix(#8482E6, #fff, 50%), 0 0 40px mix(#8482E6, #fff, 50%), 0 0 40px mix(#8482E6, #fff, 50%), 0 0 40px mix(#8482E6, #fff, 50%);
              }
            }
          </style>
          <style>
            @import url('https://fonts.cdnfonts.com/css/latin-modern-roman');
          </style>
          <li class="masthead__menu-item masthead__menu-item--lg"><a class="glow2" style="font-family: LMRomanCaps10, serif; font-size: 25.008px; line-height:21px;" href="{{ base_path }}/"><span class="px-glitchtext px-glitchtext-anim">{{ site.title }}<br><b style="font-family: Kalpurush, serif; font-size: 16px;">সৈয়দ রিফাত রাইয়ান</b></span></a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>