/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  font-family: $palatinolinotype;
  // background-color: cyan;
  // background: linear-gradient(90deg, #3F2B96 0%, $light-lavender 100%);
  border-image: url(https://i.pinimg.com/originals/80/25/f0/8025f0ee5ebe7801c1d8c67c636eb30d.jpg) 30 30 round;
  border-bottom: 2px solid $lighter-lavender; // $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $palatinolinotype;//$sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}